# This file is used for generating a requirements.txt
#   file through the following command:
#   pip-compile requirements.in
#
Jinja2<=3.1.3
sphinx==6.1.3
myst_parser==2.0.0
sphinx-book-theme==1.1.2
sphinx-copybutton==0.5.2
sphinx_favicon==1.0.1
sphinx-tabs==3.4.5
sphinx-togglebutton==0.3.2

